{% extends "base.html" %}

{% block title %}従業員編集{% endblock title %}

{% block content %}
<h1>従業員編集フォーム</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <table>
      <tbody>
        {% for field in form %}
        <tr>
          <th>{{ field.label_tag }}</th>  <!-- ラベル -->
          <td>
            {{ field }}  <!-- 入力欄 -->
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

<!-- フィールドのエラーメッセージを表示 -->
{% for field in form %}
{% if field.errors %}
    <div class="alert alert-danger">
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}
{% endfor %}
  </div>

  <button type="submit" class="btn btn-primary mt-3">編集</button>
</form>
{% endblock content %}
